.header{
  .translate-bar{
    background-color: #0a70c3;
    color: #fff;
    padding: 0.5rem;
  }
  .navbar{
    padding: 1rem 2rem;
    .logo{
      color: red;
    }
    a{
      padding: 0.5rem;
      color: #000;
    }
    a:hover{
      text-decoration: none;
    }
    a.selected{
      color: #0a70c3;
    } 
  } 
}